# Update: 2019-08-02

# Common
jupyterlab>=1.0.4
colored>=1.3.93
lz4>=2.1.10

# Testing, PEP8 code quality
pytest>=5.0.1
flake8>=3.7.8

# Image, Video
opencv-python>=4.1.0.25

# RL
atari-py>=0.2.6
gym>=0.14.0
cma>=2.7.0
