https://download.pytorch.org/whl/nightly/cpu/torch_nightly-1.0.0.dev20190213-cp37-cp37m-linux_x86_64.whl
sphinx-rtd-theme
numpy
scipy
gym
pandas
seaborn
matplotlib
scikit-image
scikit-learn
imageio
pyglet
cloudpickle
pyyaml
colored
opencv-python
